In [29]:
import pandas as pd
import json, os

In [33]:
station_index = 105 # Basel
stationdata = []
station_error = 0

for root, dirs, files in os.walk("weather_data/2018"):
    for file in files: 
        if not file.endswith(".json"): continue
        filename = os.path.join(root, file)
        try:
            with open(filename) as json_file:
                data = json.load(json_file)
                stationdata.append(data[station_index])
        except:
            station_error = station_error + 1
print ("Loaded: %d - errors: %d" % (len(stationdata), station_error))

Loaded: 13690 - errors: 554

In [34]:
stationdata[0]

{'station': {'code': 'BAS',
  'name': 'Basel / Binningen',
  'ch1903Y': 610911,
  'ch1903X': 265600,
  'lat': 47.5410344530504,
  'lng': 7.58355531113649,
  'elevation': 316},
 'code': 'BAS',
 'dateTime': '2018-11-09T17:40:00.000Z',
 'temperature': '10.2',
 'sunshine': '0',
 'precipitation': '0.0',
 'windDirection': '67',
 'windSpeed': '1.1',
 'qnhPressure': '1014.2',
 'gustPeak': '2.9',
 'humidity': '79',
 'qfePressure': '976.6',
 'qffPressure': '1014.4'}

In [41]:
pandata = pd.DataFrame(stationdata)
pandata = pandata.drop(columns=['code','station'])
pandata.head()

,dateTime,gustPeak,humidity,precipitation,qfePressure,qffPressure,qnhPressure,sunshine,temperature,windDirection,windSpeed
0,2018-11-09T17:40:00.000Z,2.9,79,0.0,976.6,1014.4,1014.2,0,10.2,67,1.1
1,2018-03-13T14:30:00.000Z,37.8,69,0.0,972.8,1010.8,1010.3,0,8.3,252,20.5
2,2018-03-22T00:00:00.000Z,3.2,79,0.0,987.7,1027.9,1025.6,0,-2.6,193,2.2
3,2018-04-05T03:40:00.000Z,15.1,74,0.0,973.8,1011.6,1011.3,0,9.9,270,4.0
4,2018-04-29T23:50:00.000Z,None,None,None,None,None,None,None,None,None,None

In [42]:
pandata.describe()

,dateTime,gustPeak,humidity,precipitation,qfePressure,qffPressure,qnhPressure,sunshine,temperature,windDirection,windSpeed
count,13690,13641,13618,13643,13641,13641,13641,13641,13618,13643,13643
unique,13380,186,80,16,396,407,396,11,320,361,100
top,2018-05-02T02:50:00.000Z,6.5,94,0.0,976.0,1014.7,1013.6,0,11.8,104,4.7
freq,9,468,539,12973,100,90,100,11088,191,240,548